<template>
    <div>
        <input type="file"
               :value="modelValue"
               @input="updateValue"
               accept="audio/*, image/*, video/*"
        />
    </div>
</template>

<script setup>
defineProps({
    modelValue: String
})

const emit = defineEmits(['update:modelValue'])

const updateValue = (event) => {
    emit('update:modelValue', event.target.value)
}
</script>

