<script setup>
import { onMounted, onUnmounted, ref } from 'vue'
import { storeToRefs} from "pinia"
import { useAuthStore} from "@/stores/auth"
import { Button, Dialog, FileUpload, Message, RadioButton } from "primevue"
import {apiFetch} from "@/helpers/utils"
import {useFetch} from "@vueuse/core"
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css'

const emit = defineEmits(['mediaUploaded'])
const visible = defineModel('visible')
const { cropperOptions, info, title, uploadOnly } = defineProps(['cropperOptions', 'info', 'title', 'uploadOnly'])
let mediaInfo = Object.assign({}, info)
console.log('uploadOnly', uploadOnly)
const { CSRFToken } = storeToRefs(useAuthStore())
console.log('mediaInfo', mediaInfo)
const mediaUpload = ref(uploadOnly)
const mediaError = ref('')
const fileUploader = ref()
const loadingMedia = ref(false)

const cropper = ref()
const mediaUploader = async () => {
  const upload = async () => {
    loadingMedia.value = true
    const { errorMessage } = await apiFetch('/api/media-upload/',
        {
          credentials: 'include',
          headers: {
            'X-CSRFToken': CSRFToken.value,
          },
          body: formData,
          method: 'POST'
        }, (payload) => {
          mediaInfo.url = payload.media
          mediaInfo.type = mediaType
          console.log('upload', mediaInfo.url)
          fileUploader.value.clear()
          if (imageBlob.value) URL.revokeObjectURL(imageBlob.value.src)
          imageBlob.value.src = payload.media
          console.log('before emit', mediaInfo)
          emit('mediaUploaded', {...mediaInfo})        })
    loadingMedia.value = false
    mediaError.value = errorMessage
  }

  let file = {}
  let mediaType
  const formData = new FormData()
  console.log('category', info.category)
  if (info.category) formData.append('category', info.category)
  if (imageBlob.value.src) {
    const { canvas } = cropper.value.getResult()
    console.log('canvas', canvas)
    mediaType = imageBlob.value.type
    canvas.toBlob(async blob => {
      if (!imageBlob.value.name) {
        const url = imageBlob.value.src.split('/')
        imageBlob.value.name = url[url.length - 1]
      }
      formData.append('media', blob, imageBlob.value.name)
      console.log('blob', blob, formData.has('media'))
      await upload()
    }, mediaType)
  } else {
    file = fileUploader.value?.files[0]
    if (file) {
      console.log('file to upload', file)
      formData.append('media', file, file.name)
      mediaType = file.type
      await upload()
    } else mediaError.value = 'No media'
  }
}

  const setMedia = async () => {
    if (mediaUpload.value) {
      await mediaUploader()
      return
    }
    if (!mediaInfo.url) {
        mediaError.value = 'No media URL'
        return
    }
    if (!mediaInfo.type) {
      const { data, error } = await useFetch(mediaInfo.url).head().blob()
      if (error.value) {
        mediaError.value = error.value
        mediaInfo.type = ''
      } else {
        mediaInfo.type = data.value.type
        console.log('before emit', mediaInfo)
        emit('mediaUploaded', {...mediaInfo})
      }
    }
  }

  const imageBlob = ref(mediaInfo?.url ? {src: mediaInfo.url} : {})
  const fileSelect = (event) => {
    if (imageBlob.value) URL.revokeObjectURL(imageBlob.value.src)
    const file = event.files[0]
    if (fileUploader.value.getTypeClass(file.type) === 'image')
      imageBlob.value = {src: URL.createObjectURL(file), type: file.type, name: file.name}
  }

  const resetMedia = () => {
    if (imageBlob.value) URL.revokeObjectURL(imageBlob.value.src)
    imageBlob.value = mediaInfo?.url ? {src: mediaInfo.url} : {}
  }

  onMounted(() => {
    console.log('upload media mounted')
    mediaInfo = Object.assign({}, info)
    imageBlob.value = mediaInfo?.url ? {src: mediaInfo.url} : {}
  })
  onUnmounted(() => console.log('upload media unmounted'))
</script>

<template>
  <Dialog ref="mediaPanel" v-model:visible="visible" :header="title" @after-hide="resetMedia"
          :pt="{header: 'p-2 border-b-2', title: 'italic text-md font-medium', root: 'w-screen sm:w-fit'}"
  >
    <div class="flex w-full flex-col justify-center space-y-1 sm:w-96">
      <div v-if="!uploadOnly" class="flex flex-row justify-center gap-3 p-2 text-sm">
        <div class="flex items-center">
          <RadioButton v-model="mediaUpload" inputId="url" :value="false" name="media" />
          <label for="url" class="ml-2">Enter url</label>
        </div>
        <div class="flex items-center">
          <RadioButton v-model="mediaUpload" inputId="upload" :value="true" name="media" />
          <label for="upload" class="ml-2">Upload media</label>
        </div>
      </div>
      <FileUpload v-if="mediaUpload"
                  ref="fileUploader"
                  mode="basic"
                  name="demo[]"
                  :accept="mediaInfo.accept"
                  customUpload
                  @select="fileSelect"
                  class="text-xs"
      />
      <input v-else
             v-model.lazy.trim="mediaInfo.url"
             type="url"
             pattern="(https|ftp)://.*"
             placeholder="Enter media url"
             class="rounded p-1 ring-1 ring-black/5 placeholder:italic"
      />
      <Cropper ref="cropper" v-if="imageBlob.src && mediaUpload" :src="imageBlob.src" class="h-96 w-full"
               :canvas="cropperOptions?.canvas" :stencilProps="cropperOptions?.stencilProps"
      />
      <textarea v-model.lazy.trim="mediaInfo.description" placeholder="Enter image description (ignored for audio and video)" class="h-16 rounded p-1 ring-1 ring-black/5 placeholder:italic" />
      <Message v-if="mediaError"
               severity="error"
               :life="5000"
               @life-end="mediaError=''"
               class="mb-1 flex w-full justify-end">
        {{ mediaError }}
      </Message>
      <div class="flex justify-end space-x-4 p-1 text-sm">
        <Button type="button" label="Ok" :loading="loadingMedia" text icon="pi pi-upload"
                @click="setMedia" />
        <Button type="button" label="Help" text icon="pi pi-question" />
      </div>
    </div>
  </Dialog>
</template>
