<template>
  <div class="shadow-lg">
    <div class="flex h-24">
      <editor-content :editor="editor" class="flex grow overflow-y-auto overscroll-contain bg-white"/>
    </div>
    <div class="grid grid-flow-col-dense space-x-2 text-xs  font-medium text-stone-700">
      <Button @click="publishReply" label="Reply" class="justify-self-end" :loading="publishing" text icon="pi pi-upload" />
      <Button @click="cancelReply" label="Cancel" class="justify-self-center" text icon="pi pi-times" />
      <Button @click="fullEditor" label="Full Editor" class="justify-self-start" text icon="pi pi-window-maximize" />
    </div>
  </div>
</template>

<script setup>
  import { Editor, EditorContent } from '@tiptap/vue-3'
  import Highlight from '@tiptap/extension-highlight'
  import Typography from '@tiptap/extension-typography'
  import StarterKit from '@tiptap/starter-kit'
  import {Markdown} from "tiptap-markdown"
  import { onBeforeUnmount, onMounted, ref } from "vue"
  import { storeToRefs } from "pinia"
  import { useContentsStore } from "@/stores/contents";
  import {extractMentions} from "@/helpers/utils";
  import Button from "primevue/button";


  const { post } = defineProps(['post'])
  const { postContent, setEditorProps, toggleReplyEditor } = useContentsStore()

  const editor = ref(null)
  const createEditor = () => {
    editor.value = new Editor({
      autofocus: "end",
      content: `@${post.author.finger}&nbsp;`,
      extensions: [
          StarterKit,
          Highlight,
          Typography,
          Markdown,
      ],
      editorProps: {
        attributes: {
          class: "flex-1 prose prose-stone max-w-none text-sm focus:outline-none prose-a:text-blue-400 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline prose-code:before:content-[''] prose-code:after:content-['']"
        },
      },
    })
  }

  const deleteEditor = () => {
    if (editor.value) {
      editor.value.destroy()
      editor.value = null
    }
  }

  const publishing = ref(false)
  const publishReply = async () => {
    publishing.value = true
    const text = editor.value.storage.markdown.getMarkdown()
    const payload = {
      parent: post.id,
      recipients: extractMentions(text),
      text: text,
      show_preview: false
    }
    const { error } = await postContent('/api/content/', 'POST', JSON.stringify(payload))
    publishing.value = false
    if (error) console.log('reply error', error)
    else {
      editor.value.commands.setContent(`@${post.author.finger}&nbsp;`)
      toggleReplyEditor(post.id)
    }
  }

  const cancelReply = () => {
    editor.value.commands.setContent(`@${post.author.finger}&nbsp;`)
    toggleReplyEditor(post.id)
  }

  const fullEditor = () => {
    setEditorProps({mode: 'reply',
      id: post.id,
      draftReply: editor.value.storage.markdown.getMarkdown()})
    editor.value.commands.setContent(`@${post.author.finger}&nbsp;`)
  }
  onMounted(() => createEditor())
  onBeforeUnmount(() => deleteEditor())
</script>
