<script setup>
import StreamElement from "@/components/StreamElement.vue";
import { useContentsStore } from "@/stores/contents"
import { onBeforeRouteUpdate } from 'vue-router'
import { onActivated, computed } from "vue";
import {storeToRefs} from "pinia";

const props = defineProps(['id'])
const { getContent, getReplies, updateStream } = useContentsStore()
const { contents, isFetching, streams } = storeToRefs(useContentsStore())
const post = computed(() => streams.value['content'].index.length ? contents.value[props.id] : undefined)
const apiEndpoint = computed(() => `content/${props.id}`)

onBeforeRouteUpdate(async (to, from) => {
  console.log('onBeforeRouteUpdate single content')
  isFetching.value = true
  const { content } = await getContent(to.params.id, true)
  if (from.name === 'content' && content.id.toString() === from.params.id) return false
  const error = await updateStream(to, {apiEndpoint: apiEndpoint.value, name: 'Single Content', title: ''})
  if (error) return false
  await getReplies(content.id, true)
})

onActivated(async () => {
  console.log('activated Single Content')
  if (contents.value[props.id].replyIds.length === 0) await getReplies(props.id, true)
})
</script>

<template>
  <div
      :class="[
              'mx-1 mt-3 sm:mx-12 md:mx-48',
              'ring-white/60 ring-offset-2 ring-offset-cyan-400 focus:outline-none',
            ]"
  >
    <div v-if="post" class="overflow-x-auto overscroll-x-auto rounded bg-stone-100 shadow-md">
      <StreamElement :postId="id" :singleContent="true" streamName="content" />
    </div>
  </div>
</template>
