<script setup>

import {
  computed,
  onActivated,
  onUnmounted, onUpdated,
  ref,
} from "vue"
import { useContentsStore } from "@/stores/contents"
import { useProfilesStore } from "@/stores/profiles"
import {storeToRefs} from "pinia";
import StreamElement from "@/components/StreamElement.vue"

const { draggable, streamName } = defineProps(['draggable', 'streamName'])
const { isFetching, singleColumn, streams } = storeToRefs(useContentsStore());
const { reorderProfile } = useProfilesStore()
const currentStream = computed(() => streams.value[streamName] ?? streams.value['public'])
const currentStreamIndex = computed(() => {
  if (masonryIsSupported.value) return currentStream.value.index.slice()
  else {
    if (draggable) return [...currentStream.value.index, 0]
    else return currentStream.value.index.slice()
  }
})

const hasChanges = ref(false)

const masonryIsSupported = ref(
  window.CSS.supports("grid-template-rows", "masonry")
);

onActivated(() => {
  console.log('stream container activated')
  isFetching.value = false
})
onUpdated(() => isFetching.value = false)
onUnmounted(() => console.log('unmounted', currentStream.value.name))

const dragging = ref(false)
const startDrag = (evt, pos) => {
  dragging.value = true
  console.log('start drag', currentStream.value.index, pos)
  evt.dataTransfer.dropEffect = 'move'
  evt.dataTransfer.effectAllowed = 'move'
  evt.dataTransfer.setData('itemID', pos)
}

const onDrop = (evt, pos) => {
  const itemID = parseInt(evt.dataTransfer.getData('itemID'), 10)
  console.log('before drop', currentStream.value.index, itemID, pos)
  if (itemID !== pos) {
    hasChanges.value = true
    currentStream.value.index.splice(pos > itemID ? pos + 1 : pos, 0 , currentStream.value.index[itemID])
    currentStream.value.index.splice(itemID > pos ? itemID + 1 : itemID, 1)
  }
  console.log('after drop', currentStream.value.index)
  dragging.value = false
}

const commitChanges = async () => {
  const error = await reorderProfile(currentStream.value.index)
  if (!error) hasChanges.value = false
}

const rejectChanges = () => {
  hasChanges.value = false
}
defineExpose({hasChanges, commitChanges, rejectChanges})

</script>

<template>
  <div v-if="masonryIsSupported">
    <div v-if="draggable"
         style="grid-template-rows: masonry"
         :class="[
              singleColumn
                ? ''
                : 'grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4',
              'ring-white/60 ring-offset-2 ring-offset-cyan-400 focus:outline-none', 'overflow-y-auto overscroll-contain'
            ]"

    >
      <div
          v-for="(id, pos) in currentStreamIndex"
          :key="id"
          :class="[singleColumn ? 'mb-4' : '', 'overflow-x-auto overscroll-x-auto bg-stone-100']"
          :draggable="true"
          @dragstart="startDrag($event, pos)"
          @drop="onDrop($event, pos)"
          @dragover.prevent
          @dragenter.prevent
      >
        <StreamElement :postId="id" :singleContent="false" :streamName="streamName" />
      </div>
      <div @drop="onDrop($event, currentStream.index.length)"
           @dragover.prevent
           @dragenter.prevent
           class="h-48 rounded bg-stone-100 p-2 shadow-md"
      />
    </div>
    <div v-else
         style="grid-template-rows: masonry"
         :class="[
              singleColumn
                ? ''
                :  'grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 2xl:grid-cols-4',
              'ring-white/60 ring-offset-2 ring-offset-cyan-400 focus:outline-none'
            ]"
    >
      <div v-for="id in currentStreamIndex"
           :key="id"
           :class="[singleColumn ? 'mb-4' : '']"
      >
        <StreamElement :postId="id" :singleContent="false" :streamName="streamName" />
      </div>
    </div>
  </div>
  <div v-else>
    <div v-if="draggable">
      <masonry-wall :items="currentStreamIndex" :gap="16" :max-columns="singleColumn ? 1 : undefined"
      >
        <template #default="{ item, index }">
          <div class="bg-stone-100 p-2"
               :draggable="true"
               @dragstart="startDrag($event, index)"
               @drop="onDrop($event, index)"
               @dragover.prevent
               @dragenter.prevent
          >
            <div v-if="item === 0">
              <div @drop="onDrop($event, currentStream.index.length)"
                   @dragover.prevent
                   @dragenter.prevent
                   class="h-48 rounded bg-stone-100 p-2 shadow-md"
              />
            </div>
            <div v-else class="overflow-x-auto overscroll-x-auto rounded  bg-stone-100 shadow-md">
              <StreamElement :postId="item" :singleContent="false" :streamName="streamName" />
            </div>
          </div>
        </template>
      </masonry-wall>
    </div>
    <div v-else>
      <masonry-wall :items="currentStreamIndex" :gap="16" :max-columns="singleColumn ? 1 : undefined"
      >
        <template #default="{ item }">
          <div class="overflow-x-auto overscroll-x-auto bg-stone-100">
            <StreamElement :postId="item" :singleContent="false" :streamName="streamName" />
          </div>
        </template>
      </masonry-wall>
    </div>
  </div>
</template>
