<template>
  <div v-infinite-scroll="[onLoadMore, { canLoadMore: () => doLoadMore }]">
    <div class="min-w-72 rounded bg-stone-100 p-2 shadow-lg">
      <AuthorBar :uuid="post.author.uuid" :post="post" />
      <div :id="elementId">
        <fix-html class="prose prose-stone max-w-none overflow-hidden text-sm prose-a:text-blue-600 prose-a:no-underline hover:prose-a:text-blue-500 hover:prose-a:underline" :html="post.rendered" />
      </div>
      <ReactionsBar :post="post" :singleContent="singleContent" />
      <ReplyEditor v-show="post.activeReplyEditor" :post="post"/>
    </div>
  </div>
  <div v-if="showReplies()" class="bg-stone-200">
    <div v-if="post.reply_count">
      <div v-if="!post.parent" class="mt-2 w-full items-center border-b border-emerald-600 pl-2 text-sm text-emerald-600">Replies</div>
      <div v-for="replyId in post.replyIds" :key="replyId" class="mt-2 overflow-x-auto overscroll-x-auto">
        <div :class="contents[replyId].author.id === post.author.id ? '' : 'ml-1 border-l border-emerald-600'">
          <StreamElement :postId="replyId" :singleContent="singleContent" :streamName="streamName" />
        </div>
      </div>
      <button @click="hideReplies" v-if="!post.parent && !singleContent" title="Hide replies">
        <v-icon name="bi-caret-up-fill" scale="2" class="text-emerald-600"/>
      </button>
    </div>
  </div>
</template>

<script setup>
import { computed, onActivated, onMounted, ref } from "vue"
import { useScroll } from "@vueuse/core"
import { storeToRefs } from 'pinia'
import { vInfiniteScroll } from '@vueuse/components'
import { useContentsStore } from '@/stores/contents'
import AuthorBar from '@/components/AuthorBar.vue'
import ReactionsBar from '@/components/ReactionsBar.vue'
import FixHtml from "@/helpers/FixHtml.vue";
import ReplyEditor from "@/components/ReplyEditor.vue"
import fitvids from "fitvids"
import {useAuthStore} from "@/stores/auth"
 
const { postId, singleContent, streamName } = defineProps(['postId', 'singleContent', 'streamName'])
const { y } = useScroll(window, { behaviour: "smooth" })
const { contents, isFetching, streams } = storeToRefs(useContentsStore())
const { loadMore, toggleReplies } = useContentsStore()
const { userIsAuthenticated } = storeToRefs(useAuthStore())
const post = computed(() => contents.value[postId])
const elementId = ref(post.value.content_type === 'content' ? `c${postId}` : `r${postId}`)
const currentStream = computed(() => streams.value[streamName])
const currentLastId = computed(() => streams.value[streamName].lastIds[0])
const replyToSelf = computed(() => post.value.parent ? post.value.author.id !== contents.value[post.value.parent]?.author.id : false)
const loading = ref(false)
const doLoadMore = computed(() =>
    currentLastId.value === post.value.id
      && !loading.value
      && !singleContent
      && !currentStream.value.noMoreData)

let seenId = undefined
const onLoadMore = async () => {
  console.log('seenId', seenId, currentLastId.value, doLoadMore.value)
  if (seenId !== currentLastId.value) {
    seenId = currentLastId.value
    //isFetching.value = true
    loading.value = true
    await loadMore()
    loading.value = false
  }
}
onMounted(() => {
  if (post.value.show_preview) fitvids(`#c${postId}`)
})

//onActivated(() => {
 // console.log('id', postId, 'activated')
  //post.value = contents.value[postId]
  // if (post.value.show_preview) fitvids(`#c${postId}`)
//})
//console.log('id', postId)
//onDeactivated(() => console.log('deactivated', post.value.author.name, wasRendered.value) )

let positionInformation = null

const showReplies = () => {
  let ret = post.value.showReplies || (singleContent && post.value.replyIds.length > 0)
  if (ret && !positionInformation) positionInformation = y.value
  return ret
}
const hideReplies = () => {
  y.value = positionInformation
  positionInformation = null
  toggleReplies(postId)
}
</script>
