<script setup>
import { onBeforeRouteUpdate } from "vue-router"
import { useContentsStore } from '@/stores/contents'
import StreamContainer from "@/components/StreamContainer.vue"

defineProps(['tagName'])
const { updateStream } = useContentsStore()

onBeforeRouteUpdate(async (to) => {
  await updateStream(to, {apiEndpoint: `streams/tag/${to.params.tagName}`,
    name: `#${to.params.tagName}`,
    title: `Posts tagged with #${to.params.tagName}`
  })
})
</script>

<template>
  <StreamContainer streamName="tag" />
</template>
