<script setup>
import Toast from 'primevue/toast'
import ConfirmDialog from "primevue/confirmdialog"
import NavigationBar from '@/components/NavigationBar.vue'
import TabManager from "@/components/TabManager.vue";

</script>

<template>
  <main>
    <div class="min-h-screen bg-stone-200">
      <ConfirmDialog />
      <Toast />
      <NavigationBar />
      <TabManager />
    </div>
  </main>
</template>

